.button{
    -fx-background-color: #f99;
    -fx-border-color: indianred;
    -fx-border-width: 2px;
    -fx-border-radius: 50px;    
}

.button:hover{
    -fx-translate-y: 1px;
}

#dx_cont{
    -fx-background-color: #ccf;
}

#tabView{
    -fx-background-color: #cfc;
}

#tabKeys{
    -fx-background-color: #fcc;
}

#menuBar{
    -fx-background-color: white;
}